body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  margin: 0 auto;
  width: 80%;
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px 0;
  padding: 0;
}

.navigation li {
  list-style: none;
  display: block;
}

.navigation li button {
  border: 1px solid #999;
  color: #444;
  padding: 10px;
  text-transform: uppercase;
  display: block;
  width: 100%;
}

#chordsTitle {
  text-align: center;
}

#chords {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.chord {
  background: #1843a7;
  border: 1px solid #0e0606;
  padding: 5px;
  width: 210px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.chord:hover {
  cursor: pointer;
}
